$monarch-blue: #02253E;
$monarch-gold: #BE9100;
$monarch-lighgold: #C0A101;
$white: #F4F3F5;

$main-font: 'Oswald', sans-serif;
$second-font: 'Vollkorn',serif;
/************
NAVIGATION
*************/
.navbar-default .navbar-nav>li>a{
	color: white;
}
.nav {
font-size: 1.3em;
}
.navbar-default .navbar-nav>li>a:hover{
	color: $monarch-blue;
}
.navbar {
	background-color: rgba(190, 145, 0, 0.85);
	font-family: $main-font;
}

.tour-nav{
	float: right;
	margin-top: 0;
	width: 100%;
}
.tour-nav>li>a{
	display: inline;
}

#about{
	padding-top: 3em;

	div.aboutus{
		h1{
			font-size: 1.4em;
			color: white;
		}
	}
}
#mission{
	div.aboutus{
		h1{
			color: $monarch-blue;
		}
	}
}
li.current{
	position: absolute;
	left: 43%;
}

/*************
TOUR PACKET
**************/
#route-packet{
	width: 100%;
	background-color: $white;
	border-bottom: 1px solid #02253E;
	.aboutus{
		tbody{
			color: $monarch-blue;
			border-collapse: separate;
	    	border-spacing: 0 50px;
			text-align: center;
			tr{
				height: 50px;
				td{
					vertical-align: middle;
				}
			}
		}
	}
}


.route{
	background-color: $white;
}
#tour-packet{
	height: 200px;
	width: 200px;
	position: fixed;
	top: 25%;
	right: 1%;
	background-color: white;
	background-image: url('../images/tourpacket.png');
	background-position: center;
	h1{
		position: absolute;
		top: -12%;
		left: 25%;
		color: white;
		font-family: 'Vollkorn',serif;
		font-size: 1.3em;

	}
}

/*PLAYERS*/
div.players{
	height: 600px;
	display: none;
	width: 76%;
	background-color: red;
	overflow-y:scroll;
	overflow-x: hidden;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	margin-top: 4em;
	padding-bottom: 1em;
	position: absolute;
	background-color: rgba(190, 145, 0, 0.85);
}

div.player{
	background-color: $monarch-blue;
	margin: 1em;
	vertical-align: middle;
	min-height: 200px;	
	min-width: 200px;
}
div.player>img{
	min-height: 200px;
	min-width: 200px;
	background-color: white;
	position: absolute;
	top: 0;
	right: 0;
}
.row{
	margin-right: 0px;
	margin-left: 32px;
}

.full{
	height: 500px;
	width: 95%;
	text-align: center;
	float: none;
	clear: both;
	margin: 0 auto;
	margin-top: 1em;
	background-color: green;
}
.full>img{
	height: 500px;
	background-color: white;
	position: absolute;
	top: 0;
	right: 0;
}


/*****************
TEAM PAGES
******************/
.navbar-brand{
	img{
		height: 70px;
		width: 70px;
	}
}
nav#team{
	width: 100%;
}

#team{
	ul.nav{
		bottom: 20px;
		border-bottom: none;
		right: 0;
		font-size: 1.2em;
		li.active>a{
			color: $monarch-blue;
		}
		li>a{
			color: white;
		}
	}
	ul.dropdown-menu{
		li{
			a{
				color: $monarch-gold;
			}
		}
	}
	.nav-tabs>li>a:hover{
		border:none;
		cursor: pointer;
	}
	.navbar-brand{
		background-color: white;
		img{
		height: 70px;
		width: 70px;
		}	
	}
}
.navbar{
	margin-bottom: 20px;
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block; 
    cursor: pointer;   
}

.team{
	width: 100%;
	background-color: $monarch-gold;
	padding-top:2.3em;
	
	h1{
	font-family: 'Oswald', sans-serif;
	color: $monarch-blue;
	text-align: center;
	font-size: 2em;
	margin-top: 1.2em;
	padding-bottom: 0.4em;
	}
	.container{
		width: 100%;
	}
	.about-team{
		padding-top:2em;
		background-color: $white;
		padding-bottom: 2em;
		width: 100%;
		margin: 0 auto;
		
		div.team-pic{
			width: 48%;
			float: left;
			background-color: $monarch-lighgold;
			height: 300px;
		}
		div.text{
			font-family: $second-font;
			font-size: 1.5em;
			width: 48%;
			float: right;
			p{
				margin-top: 0.6em;
				line-height: 1.2em;

			}
		}
		@media only screen and (max-width: 800px){
			div.team-pic{
				width: 80%;
				float: none;
				margin:0 auto;
			}
			div.text{
				width: 80%;
				float: none;
				margin: 0 auto;
			}
}
	}
		.members{
			height: auto;
			background-color: $monarch-blue;
				div.coaches{
					height: auto;
					width: 30%;
					float: left;
					background-color: $monarch-gold;
					h2{
						text-align: center;
						font-size: 2.0em;
						margin: 1em 0;
						color: white;
					}
					.flex-coaches{
						display: inline-flex;
					}
				 div.flex-coaches{
						display: inline-flex;
						flex-direction: row;
						flex-wrap:wrap;
						justify-content:center;
						align-items:center;
						width: 100%;
						margin-bottom: 1em;
						overflow: scroll;					
				 }
				 div.flex-coaches > .item {
				 	height: 180px;
				 	widows: 180px;
				 	margin: 0.3em;
				 	background-color: pink;
				 	vertical-align: middle;
				 }
				 div.flex-coaches > .item img{
				 	height: 180px;
				 	width: 180px;
				 }

				}
				div.kids{
					height: auto;
					width: 70%;
					float: right;
					background-color: $monarch-blue;
					h2{
						text-align: center;
						font-size: 2.0em;
						margin:1em 0;
						color: white;
					}
					.flex-players{
						display: inline-flex;
						flex-direction: row;
						flex-wrap:wrap;
						justify-content:center;
						align-items:center;
						width: 100%;
						margin-bottom: 1em;
						overflow: scroll;
					}
					.flex-players > .item{
						height: 180px;
						width: 180px;
						margin: 0.3em;
						vertical-align: middle;
						background-color: yellow;
					}
					.flex-players > .item >img{
						height: 180px;
						width: 180px;
						padding-bottom: 0;
					}

				}
			@media only screen and (max-width: 800px){
				div.coaches{
					width: 100%;
					float: none;
					margin:0 auto;
				}
				div.kids{
					width: 100%;
					float: none;
					margin: 0 auto;
				}
			}
	}
/*end of team styles*/
}




@media only screen and (max-width: 1070px){
	#tour-packet{
		display: none;	
	}
}

@media only screen and (max-width: 800px){
	#team .nav > li {
	  /* position: relative; */
	  /* display: inline-block; */
	   margin-bottom: 0em; 
	}
	.navbar-brand {
		display: none;
	}
}
@media only screen and (max-width: 500px){
	nav#team{
		padding-left: 1em;
	}
	nav#team .navbar-brand{
		display: none;
	}
	.carousel-control {
		font-size: 2.5em;
	}
}
