/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/***********************************************
Variables
************************************************/
$monarch-blue: #02253E;
$monarch-gold: #BE9100;
$monarch-lighgold: #C0A101;
$white: #F4F3F5;

$main-font: 'Oswald', sans-serif;
$second-font: 'Vollkorn',serif;
/***********************
CONTENT AREA
***********************/
.container{
	padding: 0;
}
.content {
	width: 100%;
}
.top {
	min-height: 50px;
	background-color: white;
}
.top> .social_media {
	font-style: 2em;
	text-align: center;
}
.top >.social_media>li{
	display: inline-block;
	width: 32%;
	padding: 0;
	margin: 0;
}
/*Social Icon Widgets*/
.fa {
	font-size: 3em;
	padding: 0.2em;
	margin: 0 0.8em;
	color: $monarch-blue;
}

/********/
.blue {
	background-color: $monarch-blue !important;
}
.blue .nav-tabs>li.active>a{
	color: white;
}
.blue .nav-tabs>li>a:hover{
	background-color: $monarch-gold;
}

.navbar {
	background-color: $monarch-gold;
	font-family: $main-font;
}
.nav-tabs{
	float: right;
	border-bottom: 1px solid #C0A101;
}
.nav {
	margin-top: 1em;
	margin-right: 1em;
	font-size: 1.5em;
}
.nav-tabs>li {
	width: 20%;
}
.nav-tabs>li>a {
	color: $white;
	border: none;
	border-radius: 4px;
	margin-right: 0px;
}
.nav-tabs>li.active>a{
	color: $monarch-blue;
	background-color: transparent;
	border:1px solid transparent;
}
.nav-tabs>li>a:hover {
	background-color: $monarch-blue;
}
.navbar {
	margin-bottom: 0px;
}
.navbar-brand img {
	background-color: white;
	/* border: 1px solid blue; */
	/* border-radius: 2em; */
	padding: -0.6em;
	padding: 0.1em;
	border-radius: 1em;
}
.navbar-default{
	border: none;
}
h1 {
	text-shadow: 1px 1px black;
}
.navbar-brand {
	/* float: left; */
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
	position: absolute;
	top: -10%;
	left: 0;
}
/**********************
ABOUT US 
***********************/
#about{
	background-color: $monarch-blue;
	color: $white;
}
.aboutus {
	width: 50%;
	margin: 0 auto;
	font-family: $second-font;
	font-size: 1.5em;
	line-height: 1.1em;
	margin-bottom: 3em;
}
.aboutus>h1{
	text-align: center;
	font-family: $main-font;
	margin: 1em 0 0 0;
	font-size: 2.32em;
	color: #BE9100;
	border-bottom: 1px solid rgba(244,243,245, 0.5);
	padding-bottom: 0.4em;
}


/**********************
Mission
***********************/
#mission{
	width: 100%;
	margin: 0 auto;
	background-color: #D3BD6F;
	border-bottom: 1px solid #02253E;
}
.statement{
	width: 50%;
	margin: 0 auto;
	font-family: $second-font;
	font-size: 1.5em;
	line-height: 1.1em;
	margin-bottom: 3em;
}
.statement>h1{
	text-align: center;
	font-family: 'Oswald', sans-serif;
	margin: 1em 0 1em 0;
	font-size: 2.32em;
	color: white;
	padding-bottom: 0.4em;
	border-bottom: 1px solid #02253E;
}
#donate{
	text-align: center;
}
.donate_button{
	padding:1em;
	background-color: $monarch-gold;
	border: none;
	color: $monarch-blue;
	font-size: 1.6em;
	margin-bottom: 2em;
	font-family: 'Oswald', sans-serif;
	display: inline;
	position: absolute;
	z-index: 100000;
	right: 0;
	margin: 0 auto;
	text-align: center;
}


/**********************
LOCATION
***********************/
#location{
	width: 100%;
	margin: 0 auto;
	font-size: 1.5em;
	font-family: $main-font;
	background-color: $monarch-gold;
	color: white;
	border-bottom: 1px solid $monarch-blue;
}

.loc_text{
	font-family: $second-font;
	width: 50%;
	margin: 0 auto;
}
.loc_text > h1 {
	font-family: 'Oswald', sans-serif;
	margin-top: 0.8em;
	color: $monarch-blue;
	text-align: center;
	font-size: 2em;
	border-bottom: 1px solid rgba(244,243,245, 0.5);
	padding-bottom: 0.4em;
}
p.location{
	margin: 1em auto;
}
.map {
	text-align: center;
	width: 100%;
	margin: 2em auto;	
	
	.border {
		background-color: $monarch-blue;
		display: inline-block;
		padding: 1em;
		border-radius: 1em;
		height: 300px;
		width: 300px;
		display: inline-block;
	}
	.contact{
		width: 30%;
		display: inline-block;
		vertical-align: top;
		
		h2{
			margin-bottom: 0.4em;
			color: $monarch-blue;
		}
		a {
			text-decoration: none;
		}
	}
}
iframe{
	border: 0;
	max-width: 100%;
}


/***********************
Carousel Slide Show
************************/

/*Image*/
.carousel-inner {
	background-color: $monarch-blue;
}
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
	vertical-align: middle;
	min-height: 300px;
}
.img-responsive {
	margin: 0 auto;
}
.carousel-inner {
	max-height: 500px;
}
.carousel-control {
	width: 5%;
	font-size: 7em;
	color: $monarch-blue;
	opacity: 1.0;
}

.carousel-caption {
	font-family:$main-font;
	position: absolute;
	right: 15%;
	font-size: 2.0em;
	bottom: 20px;
	z-index: 10;
	color: #fff;
	text-align: center;
	top: 25%;
	text-shadow: 0 1px 2px rgba(0,0,0,0.6);
	h1{
		background-color: $monarch-gold;
		opacity: 0.8;
		padding: 1em 0.5em;
	}
}
.normal{
	background-color: rgba(2,37,62,0.6);
	border-radius: 0.5em;
	padding: 1em 0;
	font-size: 1.2em;
	text-shadow: 3px 5px 1px black;
}
.long{
	background-color: rgba(2,37,62,0.4);
}

/***********************
FOOTER
************************/
#page_footer{
	background: url("../images/skyline.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}
.bottom{
	color: white;
	font-size: 1.0em;
	padding: 0 1.5em;
	padding-bottom: 2.0em;
	text-align: center;
}

div.face, 
div.tweet {
	cursor: pointer;
	
	a {
		text-decoration: none;
		color: $monarch-blue;
	}
}


.bottom a {
	display: inline-block;
	width: 19%;
	font-size: 1.0em;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif; 
	line-height: 1.2em;
	text-decoration: none;
	text-align: center;
	background-color: rgba(2,37,62,0.7);
	padding: 2em 0;
	color: white;
}
.bottom a:hover{
	background-color: rgba(2,37,62,0.3);
	transition-duration:1s;
	letter-spacing: 2px;
}
.footer_top > div{
	display: inline-block;
	width: 48%;
	background-color: rgba(190,145,0, 0.7);
	font-size: 1.0em;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif; 
	line-height: 1.2em;
	text-decoration: none;
	text-align: center;
	padding: 2em 0;
}
.footer_top > div:hover {
	background-color: rgba(190,145,0,0.3);
	transition-duration:1s;
	letter-spacing: 2px;
}
.footer_top{
	padding-top: 3em;
	text-align: center;
}


@media only screen and (max-width: 600px){
	
.bottom a {
	font-size: .7em;
	width: 18%;
}
.footer_top > div{
	font-size: 0.6em;

}
.aboutus,
.statement,
.loc_text{
	width: 80%;
}
.nav {
	font-size: 1.0em;
	margin-right: 0;
}
.nav:first {
	color: black;
}

}
@media only screen and (max-width: 500px){
	.navbar-brand {
		display: none;
	}
	ul.nav-tabs{
		width: 98%;
	}
	.donate_button {
		font-size: 1em;
	}
	.carousel-control {
		font-size: 2.5em;
	}
}
html, body {
  width: auto !important;
  overflow-x: hidden !important;
}